{% load i18n  %}

<html>
	<head>
		<title></title>
		
		<script type="text/javascript">
		    var parent_url = (window.location != window.parent.location) ? document.referrer: document.location;
		    
		    document.cookie = "login_referer="+ parent_url.href +"; path=/";
		    
		    var redirection = document.location.href.split('//')[0] +'//'+ document.location.host +'{{ redirection }}'

		    window.open(redirection, "_top");
		</script>
	</head>
	<body>
	    {% trans "loading_message" %} 
	</body>
</html>
